services:
  postgres:
    image: postgres:18-alpine 
    container_name: postgresdb
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: databasetest
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always

  api:
    build:
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    restart: always
    depends_on:
      - postgres
    volumes:
      - .:/app