services:
  postgres:
    image: postgres:18-alpine 
    container_name: postgresdb
    environment:
      - POSTGRES_PASSWORD=teste
    restart: always

  api:
    build:
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    restart: always
    depends_on:
      - postgres
    volumes:
      - .:/app